




/*<-------------------------------------HOME/GALLERY----------*/


#gallery .image-row img{
    width: 125px;
}
#gallery #main{
    clear: both;
    width: 90%;
}

.image-row>a>img {
width: 20%;
margin-left: -13px;
}


.image-row {
margin-right: auto;
margin-left: 4em;
width: 99%;
}

/*<-------------------------------------HEADER----------*/



body>header>img {
width: 103.4%;
margin-left: -30.6px;
margin-top: -7.6px;
}

/*<-------------------------------------EXTRA---------------*/

html {
  font-family: sans-serif;
}

:not(header) {
margin-left: 1em;
}

/*<-------------------------------------ABOUT------------*/

img#aboutPic {
width: 10%;
border-radius: 50%;
}

body#about>p {
width: 60%;
}

#about>h3 {
margin-left: 6em;
margin-top: -4em;
}


p#secondAbout {
margin-left: 10.7em;
margin-top: -1em;
}

/*<-------------------------------------NAVAGATION---------*/

nav>ul>li>ul {
margin-right: 2em;
display: none;
}

nav {
margin-bottom: 4em;
}

nav>ul>li>ul {
list-style-type: none;
}


nav ul li:nth-child(3):hover {
margin-right: -11.8em;
z-index: 1;
}


nav ul li:hover>ul {
display: block;
margin-left: -80px;
padding-top: 1.8em;
opacity: 0.5;
margin-right: 51.6px;
}

nav ul ul {
display: none;
}

ul, ol {
margin-top: 0;
margin-bottom: 10px;
display: flex;
list-style-type: none;
float: right;
margin-right: 5em;
padding: 8px;
}


/*----------------BOOTSTRAP LEFT OVERS--------------------*/

h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}