/*===================home.php============*/

body {
margin: 0;
background-color: #FAEBD7;
}


header {
position: fixed;
width: 100%;
z-index: 99999;
margin-top: -1em;
}

#sliderFrame {
width: 720px;
padding: 20px;
margin-top: 1em;
margin-bottom: -4.3em;
margin-left: 5em;
border-radius: 6px;
}

body>h1:nth-child(3) {
display: none;
}

element.style {
}
header>img {
width: 35%;
border-bottom: solid white 4px;
}

element.style {
background: url(https://www.uvm.edu/~mlbilode/HumansOfUVM/HumanPics/Human1.jpg);
}


div#slider {
margin-top: 6em;
margin-left: 6em;
width: 880px;
border-right: solid black 29px;
height: 499px;
}

/*===================midSection.php============*/

ul#midSecNav>li:nth-child(2)>p {
float: right;
margin-top: 0em;
margin-left: -7em;
width: 19em;
background: lightblue;
position: absolute;
padding: 9px;
line-height: 2em;
margin-right: 18.6em;
border-radius: 1em;
font-family: sans-serif;
}


ul#midSecNav>li:nth-child(3)>p {
float: right;
margin-top: 0em;
margin-left: -6em;
width: 19em;
background: lightblue;
position: absolute;
padding: 9px;
line-height: 2em;
margin-right: 18.6em;
border-radius: 1em;
font-family: sans-serif;
}



ul#midSecNav>li:nth-child(1)>p {
float: right;
margin-top: 0em;
margin-left: -8em;
width: 19em;
background: lightblue;
position: absolute;
padding: 9px;
line-height: 2em;
margin-right: 18.6em;
border-radius: 1em;
font-family: sans-serif;
}


ul#midSecNav>li>p {
float: right;
margin-top: -18em;
width: 19em;
line-height: 2em;
margin-right: 18.6em;
font-family: sans-serif;
}

ul#midSecNav>li {
height: 14em;
display: inline-block;
margin-left: 13em;
padding: -2em;
margin-bottom: 10em;
}

element.style {
border: 0;
}
ul#midSecNav>li>a>img {
width: 10em;
margin-top: 5em;
margin-left: -2em;
-webkit-transform: rotate(90deg);
}



Inherited from a
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}


Inherited from li
user agent stylesheetli {
display: list-item;
text-align: -webkit-match-parent;
}
Inherited from ul#midSecNav
ul#midSecNav {
background-color: aliceblue;
border-top: .3em solid black;
margin-top: 4em;
list-style-type: none;
}


#midSecNav>li>a>h3 {
margin-top: 4em;
margin-left: 25px;
}





/*===================nav.php============*/
#nav {
list-style-type: none;
display: -webkit-box;
margin-left: 24em;
background-color: grey;
padding: 2.04em;
position: fixed;
width: 100%;
z-index: 99999;
/* border-bottom: 3px black solid; */
margin-top: -1em;
font-size: 18px;
}
    
    #nav li {
    padding: 5px;
    padding-left: 7px;
    padding-right: 5px;
    margin-left: 2em;
    }

#nav > li>a {
color: white;
text-decoration: none;
}


/*===================footer.php============*/


#footer>p:nth-child(4)>a {
display: list-item;
color: aquamarine;
font-weight: 700;
padding-top: 4px;
}

div#footer {
background: azure;
margin-top: 240px;
text-align: center;
padding: 3px;
}